/* @import "bootstrap/dist/css/bootstrap.min.css"; */

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.array-container {
  position: absolute;
   margin: auto;
  /* top: 100px; */
}

.array-bar {
  width: 15px;
  display: inline-block;
  margin: 0 1px;
}

.nav
{
  background-color: #FEE715FF;
  font-size: 25px;
  font-family: 'Permanent Marker', cursive;
  justify-content: center;
  color: #101820FF;
}